:root {
  --bg-color: #f5f5f5;
  --card-color: #fff;
  --primary-color: #333;
  --secondary-color: #999;
  --third-color: #ccc;
}

[data-theme="dracula"] {
  --bg-color: #282a36;
  --card-color: #44475a;
  --primary-color: #bd93f9;
  --secondary-color: #8be9fd;
  --third-color: #6272a4;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,body,#root,.app {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

body,
input,
button {
  font-family: Arial, Helvetica, sans-serif;
}

.theme-switch-wrapper {
  position: fixed;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
}

.theme-switch-wrapper img {
  height: 32px;
  margin-right: 10px;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}